<<<<<<< HEAD

<h1>Edit resource</h1>

<%= form_for :resource ,url: "/resources/", :html => { :multipart => true } do |f| %>

<p>
	<%= f.label :tags, "Tags (separated by commas)" %><br />
	<%= f.text_field :tag_list %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', resources_path %>

=======
<h1>Editing resource</h1>


<%= render 'form' %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>
>>>>>>> a5cf997ebe55804986943c4295f443dd635a5183
