<h1>Edit resource</h1>

<%= form_for :resource ,url: "/resources/", :html => { :multipart => true } do |f| %>

<p>
	<%= f.label :tags, "Tags (separated by commas)" %><br />
	<%= f.text_field :tag_list %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', resources_path %>


