<<<<<<< HEAD
<head>
<style> h1
{
text-shadow: 5px 5px 5px #FAEBD7;
}
body{
font-family: Georgia, "Abecedario",Times, serif;
color: sienna;
}
</style> </head>
<h1>New image</h1>
=======
<h1>New image</h1>

>>>>>>> a5cf997ebe55804986943c4295f443dd635a5183
<%= form_for :resource ,url: "/resources/", :html => { :multipart => true } do |f| %>


<div class="control-group">

     <b> Picture </b><br/>
	<div class="controls">
     <%= f.file_field :pic %>
     </div>

</div>
<div class="control-group">
      <%= f.label :tags, "Tags (separated by commas)", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :tag_list, :class => 'text_field' %>
      </div>
    </div>


<div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary'  %>
      <%= link_to 'Cancel', resources_path, :class => 'btn' %>
    </div>
  
<% end %>

