
<html>
<div align="right">  <%= link_to 'Back', resources_path %> 
</div>

<p id="notice"><%= notice %></p>

<b>Tags :   </b>
<%= raw @resource.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>


<%= image_tag @resource.pic.url %>

<h2>Comments</h2>
<% @resource.comments.each do |comment| %>
  
  <p>
    
    <%= comment.body %>
  </p>
<% end %>
<%= form_for([@resource, @resource.comments.build]) do |f| %>
  
  <p>
    
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<br/>

</html>




