<%= form_for :photo , :url =>{:action=>'create'} , :html=>{:multipart=>true} do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Image %><br>
    <%= f.file_field :image_file %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
